@Html.Partial("_InventoryNavBar")
@{
    ViewData["Title"] = "Manage Warehouses for Branch";
}

<div class="card shadow border-0 my-4">
    <div class="card-header ml-0 py-3">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center text-dark">Manage Warehouses for Branch</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Warehouse" asp-action="AddWarehouse" class="btn btn-success">
                    ADD NEW WAREHOUSE
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Warehouse Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/warehouse.js"></script>
}
