<div style="width: 100%; height: 100%;">
    <style>
        .mySwiper {
            height: 100%;
            width: 100%;
        }

        swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        #close {
            font-size: 75px;
            color: white;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 102;
            cursor: pointer;
        }

        #overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 98;
        }

        #show-images {
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 150px;
            left: 0;
            top: 0;
            z-index: 99;
        }

       
        @@media (max-width: 760px) {
            #show-images {
                padding: 70px;
            }
        }
    </style>

    <span id="close" class="close" onclick="closeGallery()"><i class="bi bi-x"></i></span>
    <div id="overlay"></div>

    <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;" class="mySwiper" navigation="true">
        @foreach (var item in Model)
        {
            <swiper-slide>
                <img src="/@item.ImageUrl" alt="Product Image" />
            </swiper-slide>
        }
    </swiper-container>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script>
        function closeGallery() {
            document.getElementById("overlay").style.display = "none";
            document.getElementById("show-images").style.display = "none";
        }
    </script>
</div>
