<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Inventory Module</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#inventoryNavBar" aria-controls="inventoryNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="inventoryNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Dashboard Link -->
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Modules" asp-action="InventoryDashboard">Dashboard</a>
                </li>

                <!-- Inventory List Link -->
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Modules" asp-action="InventoryList">Inventory List</a>
                </li>
             
                <!-- Reports Link -->
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Modules" asp-action="Reports">Reports</a>
                </li>

                <!-- Configurations Dropdown with Two Links (Warehouses and Locations) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="configurationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Configurations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="configurationsDropdown">
                        <!-- Link to Warehouses -->
                        <li>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Warehouse" asp-action="Index">Warehouses</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>
